@font-face {
	font-family: 'newspaper';
    font-weight: normal;
    font-style: normal;
    src: url('Fonts/old\ newspaper/OldNewsPaperTypes.ttf');
}

[id="T3057851291"].page {
	min-height: var(--viewport-height);
}

[id="T3057851291"] .page-content {
	align-items: flex-start;
}

body {
  background-image: url("Images/background.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

h1, h2 {
	font-family: 'newspaper';
  color: #f7ecdf;
}

.caption {
	font-family: 'newspaper';
  color: #f7ecdf;
}

.store-font {
  color: #f7ecdf;
}

.subtitle {
	font-family: 'newspaper';
  color: #f7ecdf;
}

@media (min-width: 1500px) {
  .subtitle {
    position: absolute;
    left: 38%;
    top: 1.9%;
    letter-spacing: 4px;
  }
  .title img {
	  width: 40%;
  }
}

@media (min-width: 741px) and (max-width: 1499px) {
  .subtitle {
    font-size: 1.3em;
    position: absolute;
    left: 33%;
    top: 5.5%;
    letter-spacing: 0.5px;
  }
  .title img {
	  width: 46%;
  }
}

@media (max-width: 740px) {
  .subtitle {
    position: absolute;
    left: 13%;
    top: 1.00%;
	  font-size: 1.74em;
    letter-spacing: 2px;
  }
  .title img {
	  width: 100%;
  }
}

.welcome-image {
  position: relative;
  width: 100%; /* Make the container 50% of the page width */
  margin: 0 auto; /* Center the container horizontally */
}

.welcome {
  width: 100%; /* Make the image take the full width of the container */
  display: block;
}

.welcome-overlay {
  position: absolute;
  top: 8%;
  left: 6%;
  width: 87%;
  height: 77%;
  background: rgba(36, 18, 6, 0.7);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}

.text {
  font-family: newspaper;
  color: #ffffff;
  margin: 9px 9px;
  max-width: 98%; /* Prevent text from overflowing the container */
  box-sizing: border-box; /* Ensure padding does not affect the size */
}

@media (min-width: 1500px) {
  .text {
    font-size: 169%;
  }
  .welcome-image {
    width: 50%; /* Make the image take the full width of the container */
  }
}

@media (min-width: 741px) and (max-width: 1499px) {
  .text {
    font-size: 155%;
  }
  .welcome-image {
    width: 50%; /* Make the image take the full width of the container */
  }
}

@media (max-width: 740px) {
  .text {
    font-size: 184%;
  }
  .welcome-image {
    width: 100%; /* Make the image take the full width of the container */
  }
}

.welcome-image:hover .welcome-overlay {
  opacity: 1;
}