@font-face {
	font-family: 'newspaper';
    font-weight: normal;
    font-style: normal;
    src: url('Fonts/old newspaper/OldNewsPaperTypes.ttf');
}

[id="T3057851291"].page {
	min-height: var(--viewport-height);
}

[id="T3057851291"] .page-content {
	align-items: flex-start;
}

body {
  background-image: url("Images/background.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

h1 {
	font-family: 'newspaper';
  color: #f7ecdf;
  font-size: 600%;
}

.caption {
	font-family: 'newspaper';
  color: #f7ecdf;
}

@media (min-width: 1500px) { .title img { width: 40%; } }
@media (min-width: 741px) and (max-width: 1499px) { .title img { width: 60%; } }
@media (max-width: 740px) { .title img { width: 100%; } }

.welcome-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome-image {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.welcome {
  width: 100%;
  display: block;
}

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.welcome-image:hover .welcome-overlay { opacity: 1; }

.inkwell {
  width: 15%;
  position: absolute;
  left: 7%;
  top: 45%;
}

.candle {
  width: 15%;
  position: absolute;
  left: 83%;
  top: 27%;
}

.coffee {
  width: 25%;
  position: absolute;
  left: 75%;
  top: 51%;
}

@media (min-width: 1500px) {
  .text {
    font-size: 180%;
  }
  .welcome-image {
    width: 50%;
  }
}

@media (min-width: 741px) and (max-width: 1499px) {
  .text {
    font-size: 92%;
  }
  .welcome-image {
    width: 50%;
  }
}

@media (max-width: 740px) {
  .text {
    font-size: 184%;
  }
  .welcome-image {
    width: 100%;
  }
  .collage-image { display: none; }
}

/* audio players */

.pillar {
  flex: 1;
  margin: 3%;
  position: relative;
  transition: opacity 0.3s ease;
  margin-bottom: -2%;
  z-index: 1;
}

.pillar:hover::before {
  content: var(--data-text);
  position: absolute;
  font-family:'dactylog';
  font-style: normal;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-weight: bold;
  padding: 0.5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  pointer-events: none;
}

.pillar:not(.true-to-you-pillar):hover::before { color: #ffffff; }
.true-to-you-pillar:hover::before { color: #000000; }

.pillar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pillar:hover::after { opacity: 1; }

.mama-pillar {
  background-color: #e71c67;
  --data-text: "0";
}

.clementine-pillar {
  background-color: #f86c3b;
  --data-text: "0";
}

.the-other-end-pillar {
  background-color: #000000;
  --data-text: "0";
}

.true-to-you-pillar {
  background-color: #ffffff;
  --data-text: "0";
}

.the-songwriter-pillar {
  background-color: #4a009f;
  --data-text: "0";
}

@media (min-width: 1500px) {
  .mama-pillar { height: 25px; }
  .clementine-pillar { height: 25px; }
  .the-other-end-pillar { height: 25px; }
  .true-to-you-pillar { height: 25px; }
  .the-songwriter-pillar { height: 25px; }
}

@media (min-width: 741px) and (max-width: 1499px) {
  .mama-pillar { height: 25px; }
  .clementine-pillar { height: 25px; }
  .the-other-end-pillar { height: 25px; }
  .true-to-you-pillar { height: 25px; }
  .the-songwriter-pillar { height: 25px; }
}

@media (max-width: 740px) {
  .mama-pillar { height: 25px; }
  .clementine-pillar { height: 25px; }
  .the-other-end-pillar { height: 25px; }
  .true-to-you-pillar { height: 25px; }
  .the-songwriter-pillar { height: 25px; }
}

.audio-players {
  display: flex;
  justify-content: space-between;
}

.player {
  max-width: 19%;
  padding: 25px 35px;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  flex: 1 1 calc(19% - 10px);
  margin: 5px;
}

.play-button,
.pause-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1; /* Aspect ratio of width:height */
  margin-bottom: -5%;
}

.play-button:hover,
.pause-button:hover {
  cursor: pointer;
}

.mama-song .play-button { background-image: url('Images/play buttons/mama_clear.png'); }
.clementine-song .play-button { background-image: url('Images/play buttons/clementine_clear.png'); }
.the-other-end-song .play-button { background-image: url('Images/play buttons/other_end_clear.png'); }
.true-to-you-song .play-button { background-image: url('Images/play buttons/true_to_you_clear.png'); }
.songwriter-song .play-button { background-image: url('Images/play buttons/songwriter_clear.png'); }

.mama-song .play-button:hover { background-image: url('Images/play buttons/mama_full.png'); }
.clementine-song .play-button:hover { background-image: url('Images/play buttons/clementine_full.png'); }
.the-other-end-song .play-button:hover { background-image: url('Images/play buttons/other_end_full.png'); }
.true-to-you-song .play-button:hover { background-image: url('Images/play buttons/true_to_you_full.png'); }
.songwriter-song .play-button:hover { background-image: url('Images/play buttons/songwriter_full.png'); }

.mama-song .pause-button { background-image: url('Images/play buttons/mama_full.png'); }
.clementine-song .pause-button { background-image: url('Images/play buttons/clementine_full.png'); }
.the-other-end-song .pause-button { background-image: url('Images/play buttons/other_end_full.png'); }
.true-to-you-song .pause-button { background-image: url('Images/play buttons/true_to_you_full.png'); }
.songwriter-song .pause-button { background-image: url('Images/play buttons/songwriter_full.png'); }

.song-title {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: -10%;
}

input[type="range"][id^="progress-"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress-mama { background: #e71c67; }
#progress-clementine { background: #f86c3b; }
#progress-other-end { background: #000000; }
#progress-true-to-you { background: #ffffff; }
#progress-songwriter { background: #4a009f; }

input[type="range"][id^="progress-"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

#progress-mama::-webkit-slider-thumb { background: #e71c67; }
#progress-clementine::-webkit-slider-thumb { background: #f86c3b; }
#progress-other-end::-webkit-slider-thumb { background: #000000; }
#progress-true-to-you::-webkit-slider-thumb { background: #616161; }
#progress-songwriter::-webkit-slider-thumb { background: #4a009f; }

@media (max-width: 740px) {
  .audio-players {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player {
    width: 100%;
    max-width: none;
    margin: 10px 0; /* Add margin for spacing between stacked players */
  }
}

.pencil, .feather {
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1023px) { .pencil, .feather { width: 100%; } }

/* contact form */

.contact-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-form-title h2 {
  font-weight: 600;
  color: #f7ecdf;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-form-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background: #b5808f;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-form textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-form button {
  display:flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #b5808f, #f7ecdf);
  cursor: pointer;
}

.contact-form button img {
  height: 15px;
}

@media (max-width: 800px) {
  .contact-inputs { width: 100%; }
}

/* footer */

.footer { background-color: #111;}

.footer-container {
  margin-top: 30px;
  width: 100%;
  padding: 20px 0px;
  background-color: #432b21;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #f7ecdf;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: rgb(40, 17, 4);
  opacity: 0.9;
}

.social-icons a:hover {
  background-color: rgb(40, 17, 4);
  transition: 0.5s;
}

.social-icons a i:hover {
  color: #f7ecdf;
  transition: 0.5s;
}

.footer-bottom {
  background-color: #170a01;
  padding: 20px;
  text-align: center;
}

.footer-bottom p, .footer-bottom p a {
  color: #f7ecdf;
}

.footer-bottom p a {
  text-decoration: none;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400px;
  margin: 0px 5px;
}

.footer-bottom p a:hover { opacity: 1; }

@media (max-width: 800px) {
  .social-icons a {
    padding: 8px;
    margin: 8px;
  }
  
  .social-icons a i {
    font-size: 1.5em;
  }
  
  .footer-bottom p, .footer-bottom a {
    font-size: 0.9em;
  }
}