@font-face {
	font-family: 'newspaper';
  font-weight: normal;
  font-style: normal;
  src: url('Fonts/old newspaper/OldNewspaperTypes.ttf');
}

@font-face {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  src: url('Fonts/roboto/Roboto-Regular.ttf');
}

[id="T3057851291"].page {
	min-height: var(--viewport-height);
}

[id="T3057851291"] .page-content {
	align-items: flex-start;
}

body {
  background-image: url("Images/background.png");
  background-attachment: scroll;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

h1 {
	font-family: 'newspaper';
  color: #f7ecdf;
  font-size: 600%;
}

@media (max-width: 800px) { h1 { font-size: 2.5em; } }

.caption {
	font-family: 'newspaper';
  color: #f7ecdf;
}

/* title card */

@media (min-width: 1500px) { .title img { width: 40%; } }
@media (min-width: 741px) and (max-width: 1499px) { .title img { width: 60%; } }
@media (max-width: 740px) { .title img { width: 100%; } }

/* welcome collage */

.welcome-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome-image {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.welcome {
  width: 100%;
  display: block;
}

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.welcome-image:hover .welcome-overlay { opacity: 1; }

.inkwell {
  width: 15%;
  position: absolute;
  left: 7%;
  top: 350px;
}

.coffee {
  width: 23%;
  position: absolute;
  left: 75%;
  top: 430px;
}

@media (min-width: 741px) { .welcome-image { width: 50%; } }

@media (max-width: 740px) {
  .welcome-image { width: 100%; }
  .collage-image { display: none; }
}

/* instructions */
#instructions {
  font-family: 'newspaper';
  color: #f7ecdf;
  font-size: 1em;
  opacity: 1;
  cursor: default;
}

#instructions a:hover { opacity: 0.8; cursor: pointer;}

@media (max-width: 800px) { h1 { font-size: 2.5em; } }

/* audio players */

.pillar {
  flex: 1;
  margin: 3%;
  position: relative;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.6);
}

.pillar:before {
  content: var(--data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-weight: bold;
  padding: 0.5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  pointer-events: none;
}

.pillar:not(.true-to-you-pillar):before { color: #ffffff; }
.true-to-you-pillar:before { color: #000000; }

.mama-pillar {
  background-color: #e71c67;
  --data-text: "2";
}

.clementine-pillar {
  background-color: #f86c3b;
  --data-text: "2";
}

.the-other-end-pillar {
  background-color: #000000;
  --data-text: "9";
}

.true-to-you-pillar {
  background-color: #ffffff;
  --data-text: "4";
}

.the-songwriter-pillar {
  background-color: #4a009f;
  --data-text: "5";
}

.mama-pillar { height: 25px; }
.clementine-pillar { height: 25px; }
.the-other-end-pillar { height: 90px; }
.true-to-you-pillar { height: 40px; }
.the-songwriter-pillar { height: 50px; }

.audio-players { display: flex; align-items: end;}

.player {
  padding: 5px 10px;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  margin: 5px;
}

.play-button,
.pause-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.play-button:hover, .pause-button:hover { cursor: pointer; }

.mama-song .play-button { background-image: url('Images/play buttons/mama_clear.png'); }
.clementine-song .play-button { background-image: url('Images/play buttons/clementine_clear.png'); }
.the-other-end-song .play-button { background-image: url('Images/play buttons/other_end_clear.png'); }
.true-to-you-song .play-button { background-image: url('Images/play buttons/true_to_you_clear.png'); }
.songwriter-song .play-button { background-image: url('Images/play buttons/songwriter_clear.png'); }

.mama-song .pause-button { background-image: url('Images/play buttons/mama_full.png'); }
.clementine-song .pause-button { background-image: url('Images/play buttons/clementine_full.png'); }
.the-other-end-song .pause-button { background-image: url('Images/play buttons/other_end_full.png'); }
.true-to-you-song .pause-button { background-image: url('Images/play buttons/true_to_you_full.png'); }
.songwriter-song .pause-button { background-image: url('Images/play buttons/songwriter_full.png'); }

.song-title {
  display: block;
  width: 100%;
  height: auto;
}

input[type="range"][id^="progress"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

#progressMama { background: #e71c67; }
#progressClementine { background: #f86c3b; }
#progressOtherEnd { background: #000000; }
#progressTrueToYou { background: #ffffff; }
#progressSongwriter { background: #4a009f; }

input[type="range"][id^="progress"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

#progressMama::-webkit-slider-thumb { background: #e71c67; }
#progressClementine::-webkit-slider-thumb { background: #f86c3b; }
#progressOtherEnd::-webkit-slider-thumb { background: #000000; }
#progressTrueToYou::-webkit-slider-thumb { background: #616161; }
#progressSongwriter::-webkit-slider-thumb { background: #4a009f; }

@media (max-width: 740px) {
  .audio-players {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player {
    width: 100%;
    max-width: none;
    margin: 10px 0; /* Add margin for spacing between stacked players */
  }
}

@media (min-width: 741px) {
  .mama-song .play-button:hover { background-image: url('Images/play buttons/mama_full.png'); }
  .clementine-song .play-button:hover { background-image: url('Images/play buttons/clementine_full.png'); }
  .the-other-end-song .play-button:hover { background-image: url('Images/play buttons/other_end_full.png'); }
  .true-to-you-song .play-button:hover { background-image: url('Images/play buttons/true_to_you_full.png'); }
  .songwriter-song .play-button:hover { background-image: url('Images/play buttons/songwriter_full.png'); }
}

.pencil, .feather {
  width: 80%;
  display: block;
  margin: 2% auto;
  margin-bottom: -5%;
}

@media (max-width: 1023px) { .pencil, .feather { width: 100%; } }

/* lyrics */
.lyrics {
  font-family: "newspaper";
  font-size: 1.5em;
  color: #f7ecdf;
  opacity: 0.7;
}

.lyrics:hover {
  opacity: 1;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: auto auto;
  padding: 20px 0;
  color: white;
  width: 80%;
  position: relative;
}

.modal-content img {
  width: auto;
  max-width: 80vw; 
  height: 80vh;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

button.prev, button.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  background-color: rgba(185, 168, 168, 0.5);
}

button.prev:hover, button.next:hover {
  background-color: rgba(224, 217, 217, 0.8);
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}

#lyricsModal-clementine .modal-content img,
#lyricsModal-songwriter .modal-content img,
#lyricsModal-instructions .modal-content img,
#lyricsModal-mama .modal-content img {
  width: 80vh;
  height: auto;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.lyrics img { 
  display: none; 
  width: 100%;
}

@media (max-width: 740px) {
  button.prev, button.next {
    font-size: 14px;
    padding: 12px;
  }
}

/* store */
column-set {
  display: flex;
  flex-direction: row;
  align-items: start;
}

column-unit { margin: 10px 10px;}
column-unit img { max-height: 40vh; max-width: 100%;}
.column-1 { width: 25%; height: 100%; }
.column-2 { width: 25%; height: 100%; }
.column-3 { width: 25%; height: 100%; }
.column-4 { width: 25%; height: 100%; }

.store-font {
  font-family: 'roboto';
  font-size: 1.5em;
  color: #f7ecdf;
}

@media (max-width: 800px) {
  column-set { flex-direction: column; align-items: center;}
  .column-1 { width: 90vw; height: auto;}
  .column-2 { width: 85vw; height: auto; }
  .column-3 { width: 85vw; height: auto; }
  .column-4 { width: 85vw; height: auto; }
  .column-1 img { display: block; margin: 0 auto; }
}

/* contact form */

.contact-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-form-title h2 {
  font-family: 'newspaper';
  font-weight: 600;
  color: #f7ecdf;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-form-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background: #220b01;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  font-family: 'newspaper';
  font-size: 1em;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #666;
  border-radius: 50px;
}

.contact-form textarea {
  font-family: 'newspaper';
  font-size: 1em;
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus { border: 2px solid #b5808f; }

.contact-inputs::placeholder { color: #a9a9a9; }

.contact-form button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #220b01, #765d3f);
  cursor: pointer;
}

.contact-form .button-text {
  font-family: 'newspaper';
  color: #f7ecdf;
  font-size: 16px;
  font-weight: bold;
  text-shadow: -1px 1px 5px #623f49;
}

.contact-form button img { height: 15px; }

@media (max-width: 800px) { .contact-inputs { width: 100%; } }

/* footer */

.footer { background-color: #111;}

.footer-container {
  margin-top: 30px;
  width: 100%;
  padding: 20px 0px;
  background-color: #432b21;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #f7ecdf;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: rgb(40, 17, 4);
  opacity: 0.9;
}

.social-icons a:hover {
  background-color: rgb(40, 17, 4);
  transition: 0.5s;
}

.social-icons a i:hover {
  color: #f7ecdf;
  transition: 0.2s;
}

.website { text-align: center; }

.website a {
  font-size: 1.1em;
  color: #f7ecdf;
  text-decoration: none;
}

.website a:hover { opacity: 0.7; text-decoration: underline;}

.footer-bottom {
  background-color: #170a01;
  padding: 20px;
  text-align: center;
}

.footer-bottom p, .footer-bottom p a { color: #f7ecdf; }

.footer-bottom p a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.ayleen { opacity: 1;}
.ayleen:hover { opacity: 0.7; text-decoration: underline;}

@media (max-width: 800px) {
  .social-icons a {
    padding: 8px;
    margin: 8px;
  }
  
  .social-icons a i {
    font-size: 1.5em;
  }
  
  .footer-bottom p, .footer-bottom a {
    font-size: 0.9em;
  }
}